<div class="d-flex flex-row w-100">
  <div class="d-flex flex-column w-100">
    <div class="d-flex flex-row">
      <div class="m-auto" *ngFor="let macro of parsed">
        <div class="d-flex flex-column">
          <div class="d-flex justify-content-center">
            <div *ngIf="readOnly; else input" class="input-group-text">
              <span>{{ macro.value }}{{ macro.unit }} {{ macro.name }}</span>
            </div>
            <ng-template #input>
              <input type="number" class="form-control" placeholder="7" aria-label="days"
                aria-describedby="number-of-meals-in-day" min="1" [readonly]="readOnly" [value]="macro.value" />
              <span class="input-group-text">{{ macro.name }}</span>
            </ng-template>
          </div>
          <div class="progress flex-shrink-1">
            <div class="progress-bar {{ macro.color }}" role="progressbar" aria-label="Example with label"
              [style.width]="pctify(macro.ratio)" aria-valuemin="0" aria-valuemax="100">
              {{ pctify(macro.ratio) }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="collapse m-auto" [id]="identifier">
      <span class="secondary-group">{{secondary.sodium}}mg sodium</span>
      <span class="secondary-group">{{secondary.fibers}}g fibers</span>
    </div>
  </div>
  <button class="btn" type="button" data-bs-toggle="collapse" aria-expanded="false" [attr.aria-controls]="identifier"
    [attr.data-bs-target]="'#'+identifier">
    <i class="bi bi-three-dots-vertical" aria-hidden="true"></i>
  </button>
</div>
