.input-group-plan {
    width: fit-content;
    margin-top: 3rem;
}

.secondary-group{
  font-size: 0.7rem;
  width: fit-content;
  border: 1px solid #ccc;
  padding: 0.25rem;
}

.fit-input {
    width: 11vw;
}
