<!-- a container for title display in single page, title is `Macro Diary` -->
<div class="d-flex flex-column align-items-center justify-content-between h-100">
  <h3>Macro Diary</h3>
  <form class="d-flex flex-row justify-content-center align-items-around" [formGroup]="form">
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectAutocomplete($event)">
      <mat-option *ngFor="let option of objOptions" [value]="option.name">
        {{ option.name }}
      </mat-option>
    </mat-autocomplete>
    <input #nameInput type="text" style="width: 20vw" class="form-control" placeholder="Search" aria-label="Search"
      (focus)="focusDiary()" (keydown)="searchBoxKeyDown($event)" formControlName="name" [matAutocomplete]="auto" />
    <input type="number" style="width: 7vw" class="form-control" placeholder="Amount" aria-label="Amount" step="0.01"
      formControlName="amount" (focus)="focusDiary()" (keydown)="anyInputKeyDown($event)" />
    <select class="form-select" style="width: 8vw" aria-label="Default select example" formControlName="meal"
      name="meal" (focus)="focusDiary()" (keydown)="anyInputKeyDown($event)">
      <option *ngFor="let item of mealOptions">
        {{ item }}
      </option>
    </select>
  </form>
  <div class="d-flex flex-row align-items-center">
    <span class="m-2"><i class="bi bi-fuel-pump"></i></span>
    <app-macros-bar [macros]="macros" [secondary]="macros" [showKcal]="true"></app-macros-bar>
  </div>
  <div class="d-flex flex-row align-items-center">
    <span class="m-2"><i class="bi bi-fire"></i></span>
    <app-macros-bar [colors]="['bg-danger', 'bg-secondary', 'bg-success', 'bg-warning']" [macros]="missingMacros"
      [showKcal]="true"></app-macros-bar>
  </div>
  <div class="d-flex flex-column">
    <div>
      <button type="button" class="btn btn-danger" (click)="resetDiary()">
        Reset Diary
      </button>
      <button type="button" class="btn btn-secondary" (click)="matchTarget(planning.target)">
        Target Match
      </button>
      <button type="button" class="btn btn-secondary" (click)="matchTarget(missingMacros)">
        Complement Match
      </button>
      <button type="button" class="btn btn-primary" (click)="addComplex()">
        Complex
      </button>
    </div>
    <div class="d-flex flex-row justify-content-center align-items-center">
      <input matInput [matDatepicker]="picker" readonly="true" class="form-control" style="width: 6.5rem;"
        [formControl]="date" (dateChange)="onSelectToday()">
      <mat-datepicker-toggle matIconSuffix [for]="picker" data-toggle="tooltip" data-placement="right"
        title="MM/DD/YYYY"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </div>
  </div>
</div>
