<div class="p-3">
  <h3>Target:</h3>
  <app-macros-bar [macros]="target">
    >
  </app-macros-bar>
  <ul *ngFor="let option of bestOptions">
    <li >{{ option[2] }} | {{ (100 - option[0]).toFixed(0) }}%</li>
    <app-macros-bar [macros]="option[1]">
        </app-macros-bar>
  </ul>
  <!-- button to start matching -->
  <button type="button" class="btn btn-primary" (click)="matchTarget()">
    Match Target
  </button>
  <button type="button" class="btn btn-primary" (click)="multiMatchTarget()">
    Match Complex
  </button>
</div>
