<body class="d-flex flex-column align-items-center">
  <app-toolbar (formChange)="toolbarChanges($event)" class="ms-3"></app-toolbar>
  <hr/>
  <div class="d-flex flex-row justify-content-between" style="height: 600px">
    <div
      class="mx-3 d-flex justify-content-evenly flex-column"
      style="width: 40vw"
    >
      <app-diary
        class="border d-flex flex-column align-items-center justify-content-between"
        (onFocusEvent)="focusedDataChange($event)"
        [source]="database"
        [planning]="planning"
        style="height: 20vw"
      ></app-diary>
      <app-nutrient-bank
        (databaseChange)="onNewDatabase($event)"
        (onFocusEvent)="focusedDataChange($event)"
      ></app-nutrient-bank>
      <!-- <app-fat-input (changeSource)="onChangeSource($event)"></app-fat-input>
      <app-recipes (onAddRecipe)="addRecipe($event)"></app-recipes>
      <app-persist></app-persist> -->
    </div>
    <app-fat-facts
      #facts
      style="width: 40vw"
      [sourceFacts]="sourceFacts"
      [planning]="planning"
      class="mx-3"
    ></app-fat-facts>
  </div>
</body>
