<form [style]="sizeLarge ? 'width: 50rem;' : ''">
  <mat-vertical-stepper>
    <mat-step *ngIf="source.length" [stepControl]="complexFormGroup">
      <form [formGroup]="complexFormGroup">
        <ng-template matStepLabel>Complex</ng-template>
        <app-compose-complex-dialog [source]="source" [asModal]="false"
          (onUpdate)="onComplexUpdate($event)"></app-compose-complex-dialog>
        <div>
          <button class="btn btn-primary" mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="firstFormGroup" class="form-group">
      <form [formGroup]="firstFormGroup">
        <!-- Name -->
        <ng-template matStepLabel>Food</ng-template>
        <label for="name">Name</label>
        <input class="form-control" matInput placeholder="Banana example" formControlName="name" required />
        <!-- Unit -->
        <label for="unit">Unit</label>
        <input class="form-control" matInput placeholder="g" formControlName="unit" required />
        <!-- Amount -->
        <label for="amount">Amount</label>
        <input class="form-control" matInput placeholder="100" formControlName="amount" required />
        <div>


          <button *ngIf="source.length" class="btn btn-primary" mat-button matStepperPrevious>Back</button>
          <button class="btn btn-primary" mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <!-- Second step -->
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <!-- Carbs -->
        <ng-template matStepLabel>Macros</ng-template>
        <label for="carbs">Carbs</label>
        <input class="form-control" matInput placeholder="20" formControlName="carbs" required />
        <!-- Proteins -->
        <label for="prots">Proteins</label>
        <input class="form-control" matInput placeholder="1" formControlName="prots" required />
        <!-- Fats -->
        <label for="fats">Fats</label>
        <input class="form-control" matInput placeholder="0.5" formControlName="fats" required />
        <div>
          <button class="btn btn-primary" mat-button matStepperPrevious>Back</button>
          <button class="btn btn-primary" mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <!-- Third step -->
    <mat-step [stepControl]="thirdFormGroup">
      <form [formGroup]="thirdFormGroup">
        <!-- Sodium -->
        <ng-template matStepLabel>Details</ng-template>
        <label for="sodium">Sodium</label>
        <input class="form-control" matInput placeholder="1000" formControlName="sodium" />
        <!-- Fibers -->
        <label for="fibers">Fibers</label>
        <input class="form-control" matInput placeholder="2" formControlName="fibers" />
        <div>
          <button class="btn btn-primary" mat-button matStepperPrevious>Back</button>
          <button class="btn btn-primary" mat-button matStepperNext (click)="onSubmit()">Submit</button>
        </div>
      </form>
    </mat-step>
  </mat-vertical-stepper>
  <div></div>
</form>
